<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database Connection Settings -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/twilightheroes</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- JDBC Connection Pool Settings -->
        <!--        <property name="hibernate.c3p0.min_size">5</property>-->
        <!--        <property name="hibernate.c3p0.max_size">20</property>-->
        <!--        <property name="hibernate.c3p0.timeout">300</property>-->
        <!--        <property name="hibernate.c3p0.max_statements">50</property>-->
        <!--        <property name="hibernate.c3p0.idle_test_period">3000</property>-->

        <!-- Hibernate Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Show SQL in Console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>

        <mapping class="org.Model.Monster"/>
    </session-factory>
</hibernate-configuration>